


.container {
    margin:auto;
    display: grid;
    gap: 10px;
    height: 100%;
    width: 100%;
    /*max-width: 1000px;*/
    grid-template-areas: 'header header header'
                         'busqueda busqueda busqueda'
                         'left contenido contenido'
                         'footer footer footer';
    background-color: rgba(167, 219, 118, 0.466);
    background-repeat: repeat;    
    grid-template-columns: 25% 70%;
    grid-template-rows: 150px 80px 100% 60px; 
    
}

.header{
    grid-area: header;
}

.busqueda{
    grid-area: busqueda;
   
}

.left{
    grid-area: left;
   
}

.contenido{
    grid-area: contenido;
   
}

.footer{
    grid-area: footer;
    font-size: 11px;
   
    vertical-align: middle;
    text-align: center;
   
}

.item{
    background-color:rgb(173, 206, 113);
    padding: 10px;
    color: white;
    border-radius: 10px;

}